.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star{
    padding: 5px;
    color: gray;
    cursor: pointer;
}

.star-container{
    font-size: 40px;
}

.star-colored{
    color: gold;
}